table {
	border-collapse: collapse;
    font-family: sans-serif;
    width: 100%;
}

th,td {
    border-bottom: 1px solid #bbb;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td:hover{
	background-color:#bbb
}